ques1_what is database? differentiate between SQL & NoSQL database.

DATABASE:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

DIFFERENTIATE BETWEEN SQL & NOSQL: 
SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

ques2_ what is DDL? explain why CREATE,DROP,ALTER AND TRUNCATE are used with an example.

data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.

CREATE TABLE
The CREATE TABLE command creates a new table in the database.
The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

ALTER TABLE
The ALTER TABLE command adds, deletes, or modifies columns in a table.
The ALTER TABLE command also adds and deletes various constraints in a table.
The following SQL adds an "Email" column to the "Customers" table:

Example
ALTER TABLE Customers
ADD Email varchar(255);

DROP TABLE
The DROP TABLE command deletes a table in the database.
The following SQL deletes the table "Shippers":

Example
DROP TABLE Shippers;

TRUNCATE TABLE
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
The following SQL truncates the table "Categories": 

Example
TRUNCATE TABLE Categories;

ques3_what is DML?Explain INSERT,UPDATE & DELETE with an example.

A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language's operators.

The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:
The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

example:
In the following example, we will insert 2 rows into the students table, one for each student:

INSERT INTO Students(StudentId, StudentName, DepartmentId, DateOfBirth)
              VALUES(11, 'Ahmad', 4, '1997-10-12');

INSERT INTO Students VALUES(12, 'Aly', 4, '1996-10-12');


In the following UPDATE statement, we will update the DepartmentId for the Student with StudentId = 6 to be 3:

UPDATE Students
SET DepartmentId = 3 
WHERE StudentId = 6;

In the following statement, we will delete two students with StudentId 11 and 12:

DELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;

ques4_what is DQL? explain SELECT with an example.

Data Query Language (DQL) is a critical subset of SQL (Structured Query Language) used primarily for querying and retrieving data from a database.

The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables.

Given a table T, the query SELECT * FROM T will result in all the elements of all the rows of the table being shown. With the same table, the query SELECT C1 FROM T will result in the elements from the column C1 of all the rows of the table being shown.

ques5_explain primary key & foreign key.

A primary key is a unique identifier for each record in a table. A foreign key establishes a relationship between tables by referencing the primary key of another table. Basic. Ensures uniqueness and data integrity within a single table.

ques6_Write a python code to connect MySQL to python.Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)


USES OF CURSOR() & EXECUTE() METHOD:
Allows Python code to execute PostgreSQL command in a database session. Cursors are created by the connection. cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection

ques7_give the order of execution of SQL clauses in an SQL query

FROM/JOIN. The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE. The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY. ...
HAVING. ...
SELECT. ...
ORDER BY. ...
LIMIT/OFFSET.